@charset "utf-8";

.wrap{width: 1200px; margin: 0 auto; position: relative;}












.header{height: 100px; background-color: #dddddd; 
        display: flex; justify-content: space-between;
        align-items: center;}

.logo{}

.nav{align-self: self-end;}

.main{}

.main > li{display: inline-block; position: relative;}

.main > li:hover > a{background-color: rgb(163, 163, 163);}

.main > li > a{display: block; width: 150px; height: 50px; text-align: center;
        line-height: 50px; font-weight: bold; background-color:  rgb(255, 98, 98);}

.sub{position: absolute; left: 0; top: 50px;width: 100%; z-index: 8; display: none;}

.sub li{}

.sub li a{display: block; height: 30px; line-height: 30px; text-align: center;
        background-color: rgb(92, 92, 92); color: white;}

.sub li a:hover{background-color: rgb(255, 165, 165)}

.sub_bg{position: absolute; top: 100px; left: 0;
        height: 130px; width: 100%; z-index: 7;
        background-color: rgb(92, 92, 92);display: none;}















.section{height: 500px;}

.slide_img{width: 100%; height: 300px; position: relative; overflow: hidden;}

.left_move{ width: 300%;position: absolute; left: 0; top: 0;}

.left_move li{float: left;}


/* contents 영역 */

.contents{display: flex; justify-content: space-between;}

.contents > div{height: 200px; width: 390px; }

.notice{}

.gallery{}

.banner{}


.contents h3{width: 100px; height: 35px; background-color: rgb(255, 98, 98); color: white;
            text-align: center; line-height: 35px; border-radius: 10px 10px 0 0;
            margin-left: 20px;}

.contents ul, .contents p{width: 100%; height: 165px; border-top: 2px solid rgb(255, 103, 103); background-color: rgb(255, 96, 96);
        color: white;}

.notice{}
.notice ul{padding: 10px; display: flex; flex-direction: column; justify-content: space-between;}
.notice ul li{display: flex; justify-content: space-between; }
.notice ul li a{width: 75%; text-overflow: ellipsis; text-wrap: nowrap; overflow: hidden;}

.gallery{}
.gallery ul{display: flex; justify-content: space-around; align-items: center;}
.gallery ul li{}

.banner{}
.banner p{display: flex; justify-content: center; align-items: center;}











#footer{height: 100px;  display: flex; justify-content: space-between;
        align-items: center; border-bottom: 1px solid darkgray; background-color: #dddddd;}




.f_logo{}

.copy{border-left: 1px dotted #555555;
border-right: 1px dotted #555555; width: 600px; text-align: center; padding: 10px 0;}

.family{}
.family select{height: 20px;}




.modal{width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.5);
        position: absolute; left: 0; top: 0; display: none;}

.pop{width: 300px; height: 400px; background-color: #dddddd; position: absolute;
        left: 50%; top: 50%;transform: translate(-50% , -50%); padding: 20px;
        border: 5px solid rgb(255, 123, 123); display: none; }

.pop h3{text-align: center; line-height: 2;border-bottom: 2px double  rgb(255, 123, 123);} 

.pop p{padding-top: 20px; text-align: center; line-height: 1.7;}

.close{position: absolute; right: 10px; bottom: 10px; padding: 5px 10px;
        cursor: pointer;}